/* Global stuff */
* {
  box-sizing: border-box;
}

:root {
  --backdrop-background-color: #129490;
  --main-text-color: #000000;
  --main-ui-background-color: #A1E887;
  --game-background-color: #4B4E6C;
  --game-text-color: #FFFFFF;
  --error-background-color: #ff0000;
  --base-font-size: 25px;
  --max-ui-width: 900px;
}

/* Mixins */
/* Color mixins */
/* HTML assisters */
.center-button {
  margin-left: auto;
  margin-right: auto;
}

/* body */
body {
  background-color: var(--backdrop-background-color);
  color: var(--main-text-color);
  font-size: var(--base-font-size);
}

/* Because I don't like the default styles */
button {
  display: block;
  border: none;
  /* Apparently Chrome colors buttons by default */
  color: var(--main-text-color);
  /* And sets font size */
  font-size: var(--base-font-size);
}

/* Page Header */
#error {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-ui-width);
  background-color: var(--error-background-color);
  font-size: 1.5em;
  font-weight: 800;
  display: none;
}

h1 {
  text-align: center;
  font-size: 2em;
}

/* Messages from the Game */
#message {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-ui-width);
  background-color: var(--main-ui-background-color);
  color: var(--main-text-color);
  display: none;
}
#message.show {
  display: block;
}

/* Category */
#category-info {
  text-align: center;
  font-size: 1.5em;
}

/* Trivia Section */
#trivia {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-ui-width);
  background-color: var(--main-ui-background-color);
  color: var(--main-text-color);
}

#question {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: var(--game-background-color);
  color: var(--game-text-color);
  margin: 5px;
}

/* Answer */
#answers {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: var(--main-ui-background-color);
  color: var(--main-text-color);
  /* Boy do I love how easy it is to do grid layouts! 
     It's *so* much easier than the bootstrap way of doing it. */
  display: grid;
  grid-template-columns: auto auto;
}
#answers > .option {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: var(--game-background-color);
  color: var(--game-text-color);
  margin: 3px;
}
#answers > .option:hover:not(.correct, .incorrect, .selected) {
  background-color: var(--main-ui-background-color);
  color: var(--main-text-color);
}
#answers > .option.correct {
  background-color: green;
}
#answers > .option.incorrect {
  background-color: red;
}
#answers > .option.selected {
  border: solid blue 4px;
}

#next-question {
  background-color: var(--game-background-color);
  color: var(--game-text-color);
}

/* Score */
#stats {
  margin-top: 10px;
  margin-bottom: 10px;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-ui-background-color);
  color: var(--main-text-color);
}

/* Settings */
#settings {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-ui-background-color);
  color: var(--main-text-color);
  max-width: var(--max-ui-width);
}

#settings select, #settings option, #apply-settings {
  background-color: var(--main-ui-background-color);
  color: var(--main-text-color);
}

/*# sourceMappingURL=style.css.map */
