/* Global stuff */
* {
    box-sizing: border-box;
}

:root {
    --backdrop-background-color: #129490;
    --main-text-color: #000000;
    --main-ui-background-color: #A1E887;
    --game-background-color: #4B4E6C;
    --game-text-color: #FFFFFF;

    --error-background-color: #ff0000;

    --base-font-size: 25px;
    --max-ui-width: 900px;
}
/* Mixins */

@mixin centered-block {
    margin-left: auto;
    margin-right: auto;
}

@mixin visual-container {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

@mixin ui-width {
    max-width: var(--max-ui-width);
}

/* Color mixins */

@mixin ui-background-colors {
    background-color: var(--backdrop-background-color);
    color: var(--main-text-color);
}

@mixin ui-foreground-colors {
    background-color: var(--main-ui-background-color);
    color: var(--main-text-color);
}

@mixin ui-game-colors {
    background-color: var(--game-background-color);
    color: var(--game-text-color);
}

/* HTML assisters */

.center-button {
    @include centered-block;
}

/* body */

body {
    @include ui-background-colors;
    font-size: var(--base-font-size);
}

/* Because I don't like the default styles */

button {
    display: block;
    border: none;
    /* Apparently Chrome colors buttons by default */
    color: var(--main-text-color);
    /* And sets font size */
    font-size: var(--base-font-size);
}

/* Page Header */

#error {
    @include visual-container;
    @include centered-block;
    @include ui-width;
    background-color: var(--error-background-color);
    font-size: 1.5em;
    font-weight: 800;
    display: none;
}

h1 {
    text-align: center;
    font-size: 2em;
}

/* Messages from the Game */

#message {
    @include visual-container;
    @include centered-block;
    @include ui-width;
    @include ui-foreground-colors;
    display: none;
    &.show {
        display: block;
    }
}

/* Category */

#category-info {
    text-align: center;
    font-size: 1.5em;
}

/* Trivia Section */

#trivia {
    @include visual-container;
    @include centered-block;
    @include ui-width;
    @include ui-foreground-colors;
}

#question {
    @include visual-container;
    @include ui-game-colors;
    margin: 5px;
}

/* Answer */
#answers {
    @include visual-container;
    @include ui-foreground-colors;
    /* Boy do I love how easy it is to do grid layouts! 
       It's *so* much easier than the bootstrap way of doing it. */
    display: grid;
    grid-template-columns: auto auto;
    > .option {
        @include visual-container;
        @include ui-game-colors;
        margin: 3px;
        &:hover:not(.correct, .incorrect, .selected) {
            @include ui-foreground-colors;
        }
        &.correct { background-color: green; }
        &.incorrect { background-color: red; }
        &.selected { border: solid blue 4px; }
    }
}

#next-question {
    @include ui-game-colors;
}

/* Score */

#stats {
    margin-top: 10px;
    margin-bottom: 10px;
    width: fit-content;
    @include visual-container;
    @include centered-block;
    @include ui-foreground-colors;
}

/* Settings */

#settings {
    @include visual-container;
    @include centered-block;
    @include ui-foreground-colors;
    @include ui-width;
}

#settings select, #settings option, #apply-settings {
    @include ui-foreground-colors;
}

